/*** Body Element ***/
html, body {
  overflow: hidden;
}

body {
  background-color: #00CCFF;
  position: relative;
}

/*** Type ***/
a {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20vh;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
  color: white;
}

/*** Alignment ***/
div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}